
body {
	font-family: Arial, sans-serif;
	margin: 20px;
	line-height: 1.5;
}

.question-container {
	text-align: center;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 20px;
	border-radius: 5px;
	transition: background-color 0.3s;
	position: relative;
	z-index: 0;
	background-color: #2D3748;			
	color: white;
}
.question-num {
	background-color: black;
	border-radius: 15px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: 'Source Sans Pro Topnav', sans-serif;
	//font-family: "Segoe UI", Arial, sans-serif;
	font-size: 24px;	
	margin-bottom: 10px;
	max-width: 240px;	
	padding: 0 10px;	
}
.question-title {
	font-weight: bold;
	margin-bottom: 20px;
}
.answer-option {
	//margin-left: 20px;
	position: relative;
	font-family: 'Source Sans Pro Topnav', sans-serif;
	background-color: rgba(255,255,255,0.1);
	color: #fff;
	border-radius: 5px;
	width: 100%;
	max-width: 650px !important;
	padding: 8px 16px;	
	margin: auto;
	margin-bottom: 4px;
	font-size: 16px;
	text-align: left;
	cursor: pointer;
}
.answer-option [type=radio] {
	position: absolute;
	top: 33%;
}
.answer-option label {
	display: inline-block;
	margin-left: 16px;
	margin-left: 29px;
	cursor: pointer;
}
.image,.explanationImage {
	margin-bottom: 10px;
}

.result {
	margin-top: 10px;
	font-weight: bold;
}
.explanation, .reference, .explanationImage {
	margin-top: 10px;
	color: #555;
	display: none; 
}
.explanation.show, .reference.show, .explanationImage.show {
	display: block;
}
.validate-button {
	margin-top: 10px;
}

/** Toast **/
div.toast {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 300px;
	height: 200px;
	border: 3px solid red;
}
div.sticky {
	position: fixed;
	bottom: 10px;
	right: 32px;
	//width: 15%;
}
div.statistique {
	margin-top: 5px;
	padding: 5px;
	position: fixed;
	right: 32px;
	width: 15%;
	height: 300px;
	border: 3px solid #73AD21;
}
div.statistiqueDetail {
	margin-top: 20px;
	padding: 5px;
	padding-top: 10px;
	position: fixed;
	//right: 32px;
	//width: 15%;
	//height: 200px;
	//border: 3px solid red;
}

/** popover */
.popover-body .list-group{
	max-height: 300px;
	overflow-y: auto;
}
.popover-body a, .sticky a {
	text-decoration:none;
}

/** credit **/
#githubForm, #githubData {
	padding: 50px;
}